<!DOCTYPE html>
<html>
  <head>
    <title>Login and Registration</title>
  </head>
    <body>
      <div>
        {% if messages %}
          {% for i in messages %}
            <p>{{i.message }}</p>
          {% endfor %}
        {% endif %}

        <h1>Registration</h1>
        <form action='/users' method='post'>
          {% csrf_token %}
          <label for="first_name"><h3>First Name: <input type='text' name='first_name' id="first_name"></h3></label>
          <label for="last_name"><h3>Last Name: <input type='text' name='last_name' id="last_name"></h3></label>
          <label for="email"><h3>Email: <input type='text' name='email' id="email"></h3></label>
          <label for="password"><h3>Password: <input type='text' name='password' id="password"></h3></label>
          <label for="password_confirm"><h3>Confirm Password: <input type='text' name='password_confirm' id="password_confirm"></h3></label>
          <label for="birthday"><h3>Date of Birth: <input type='text' name='birthday' id="birthday"></h3></label>
          <input type='submit' value='Submit'>
        </form>

        <h1>Login</h1>
        <form action='/sessions' method='post'>
          {% csrf_token %}
          <label for="email"><h3>Email: <input type='text' name='email' id="email"></h3></label>
          <label for="password"><h3>Password: <input type='text' name='password' id="password"></h3></label>
          <input type='submit' value='Submit'>
        </form>

      </div>
    </body>
</html>
