<!DOCTYPE html>
<html>
  <head>
    <title>Login and Registration</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static '/main/css/pythonstyle.css' %}">
  </head>
    <body>
      <div class="containers">
        <div>
          {% if messages %}
            {% for i in messages %}
              <p>{{i.message }}</p>
            {% endfor %}
          {% endif %}

          <h1>Registration</h1>
          <form action='/users' method='post'>
            {% csrf_token %}
            <label for="name"><h3>Name: <input type='text' name='name' id="name"></h3></label>
            <label for="alias"><h3>Alias: <input type='text' name='alias' id="alias"></h3></label>
            <label for="email"><h3>Email: <input type='text' name='email' id="email"></h3></label>
            <label for="password"><h3>Password: <input type='password' name='password' id="password"></h3></label>
            <p>*Password should be at least 8 characters</p>
            <label for="password_confirm"><h3>Confirm Password: <input type='password' name='password_confirm' id="password_confirm"></h3></label>
            <label for="birthday"><h3>Birthday: <input type='date' name='birtday' id="birthday"></h3></label>
            <input class="button" type='submit' value='Submit'>
          </form>

          <h1>Login</h1>
          <form action='/sessions' method='post'>
            {% csrf_token %}
            <label for="email"><h3>Email: <input type='text' name='email' id="email"></h3></label>
            <label for="password"><h3>Password: <input type='password' name='password' id="password"></h3></label>
            <input class="button" type='submit' value='Submit'>
          </form>
        </div>

      </div>
    </body>
</html>
